.loginContainer {
  padding: 80px;
}

.errorMessage:first-child {
  text-transform: capitalize;
}

.formContainer {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  box-sizing: border-box;
  width: 300px;
  background-color: #eee;
  padding: 12px;
  border-radius: 10px;
}

.form h1 {
  margin-top: 0;
}

.email,
.password {
  margin-bottom: 4px;
  color: rgb(254, 94, 8);
}

.emailInput,
.passwordInput {
  text-align: start;
  color: black;
  width: 100%;
  font-size: 20px;
}

.email input,
.password input,
.form button {
  display: block;
  margin: 10px auto;
  box-sizing: border-box;
  padding: 10px;
  width: 90%;
  border-radius: 10px;
  border: 0;
  outline: 0;
  font-size: 20px;
}

.form button {
  background-color: bisque;
  font-size: 16px;
  cursor: pointer;
}

.form button:focus {
  transform: scale(0.95);
}
