.cardBody {
    cursor: pointer;
    max-height: 300px;
    padding: 0;
    text-decoration: none;
    color: black;
}

.leftSide {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 50px;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

#rightSideId {
    margin: 0;
}

.rightSide {
    display: flex;
    flex-direction: column;
    min-height: 35px;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
}

.rightSide .rating {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-self: flex-start;
    width: 100%;
}

.addButton {
    margin: 0 auto;
}

.rightSide .addButton button {
    border: 1px solid rgb(25, 118, 210);
    transition: 0.4s;
}

.rightSide .addButton button:hover {
    background-color: white;
    color: rgb(25, 118, 210);
}
