.menuListScroll {
    overflow-y: scroll;
    max-height: 400px;
}

.footer {
    display: grid;
    padding: 10px;
    box-sizing: border-box;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 10px;
}

.cartTotalPrice {
    display: flex;
    justify-content: space-around;
}

.totalPriceTitle {
    font-size: 20px;
    font-weight: 650;
    display: flex;
    min-width: 40%;
}

.price {
    font-size: 20px;
    background-color: #a3d951;
    color: white;
    padding: 3px 5px;
    border-radius: 10px;
}

.emptyCart {
    margin-inline: 20px;
    font-weight: bold;
}
